body{
    background-color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
li{
    font-size: larger;
}
button{
    background-color: blueviolet;
    border-width: 5px;
    border-color: blueviolet;
    font-size: medium;
    vertical-align: top;
}
button:hover{
    background-color: blueviolet;
    border-width: 5px;
    border-color: blueviolet;
    font-size: medium;
    vertical-align: top;
}
#but{
    text-align: right;
}
#footer{
    vertical-align: baseline;
    background-color: #181818;
    color: #838383;
    font-size: small;
    margin-bottom: 0px;
    border-bottom: 5px;
    border-color: #181818;
}
#footer a{
    color: #f58634;
}