body{
    background-color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
img{
    background-color: crimson;
}
li{
    font-size: larger;
}
button{
    background-color: blueviolet;
    border-width: 5px;
    border-color: blueviolet;
    font-size: medium;
    vertical-align: top;
}
button:hover{
    background-color: darkcyan;
    border-width: 5px;
    border-color: blueviolet;
    font-size: medium;
    vertical-align: top;
}
#but{
    text-align: right;
}